{% extends "base.html.twig" %}

{% block title %}Panier{% endblock %}


{% block body %}

<div class="py-5">
    <div class="row align-items-center justify-content-center">
       
            <h3 class="text-center">
                Mon panier
            </h3>
     

        <div class="col-12 mt-3">
            {% include "shared/_messages_flash.html.twig" %}
        </div>
            {% if detailCart | length > 0 %}
                        <div class="d-flex flex-column cart">
                            {% for item in detailCart %}
                                <div class="d-flex detailCart justify-content-between mb-2">
                                    <img src=" {{ item.product.pathImage }}" alt="{{ item.product.name }}" class="imageProductCart wCart">
                                    <div class="produit d-flex flex-column wCart">
                                        <div class="nom only-desktop">{{ item.product.name }}</div>
                                        <div class="prixU only-desktop">{{ item.product.price | euroPrice }}</div>
                                    </div>
                                    <div class="Qty d-flex wCart">
                                        <a class="btn " href="{{ path('decrement_product_cart',{'id': item.product.id}) }}"><i class="fas fa-minus-circle grey"></i></a>
                                            <button class="btn btn-light p-0">{{ item.qty }}</button>
                                        <a class="btn " href="{{ path('add_product',{'id': item.product.id}) }}?returnToCart=true"><i class="fas fa-plus-circle grey"></i></a>
                                    </div>
                                    <div class="total wCart">{{ item.total | euroPrice }}</div>
                                        <a class="sup btn btn-link btn-sm" href="{{ path('remove_item_cart',{'id': item.product.id }) }}"><i class="fas fa-trash grey"></i></a>
                                    </div>
                                    {% endfor%}
                                    <div class="d-flex justify-content-end align-items-baseline pb-2">
                                        <div class='me-2'><strong>Sous Total</strong></div>
                                        <div><strong>{{ totalCart | euroPrice }}</strong></div>
                                    </div>
                                        
                                
                            

                        <div class="d-flex justify-content-end">
                            <a href="{{ path('customer_recap_order')}}" class="btn button"> Valider mon panier</a>
                        </div>

                    </div>
                    {% else %}
                        <p class='text-center'>Le panier est vide.</p>
                        <br/>
                        <a href="{{ path('product_customer_index')}}" class="btn button">Continuer le shopping</a>
                    {% endif  %}
                </div>

            </div>

        

  




{% endblock %}