{% extends 'base.html.twig' %}



{% block body %}
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div class="row p-5 mw-100">
        <div class="col-md-5 offset-md-6 intro">
        <div class="row p-md-5">
            <div class="col" >
                <p class="display-6 center primary-font">"Qui plante un jardin, plante le bonheur."</p>
            </div>
        </div>
        <div class="row p-md-5 d-flex justify-content-center">
            <div class="col d-flex justify-content-center" >
                <a  class="btn button" href="{{ path('product_customer_index') }}">Entrez c'est tout vert</a>
            </div>
        </div>
        </div>
        </div>           
    </div>
        <h1 class="center title m-5">"Plantes d'atmosph'air"</h1>
        <h2 class="center primary-font m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
    <div class="container-fluid">
        <div class="row flex-wrap-reverse flex-lg-nowrap">
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-around">
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img class="w-100" src="{{ asset('assets/img/palmier.jpg')}}" alt="Palmier" >

                </div>
            </div>
        </div>
        <div class="row mw-100">  
            <div class="col-sm-12 col-md-6 ">
                <img class="w-100" src="{{ asset('assets/img/socculente.jpg')}}" alt="socculente" >

            </div>
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-around">
               <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
            
            </div> 
        </div>        
    </div>
    <div class="container-fluid">
        <h2 class="center primary-font m-5">Snap photos and share like never before.</h2>
        <div class="row mw-100">
      
            
       
        {% for opinion in opinions %}
            <div class="col-sm-12 col-md-6 mb-5 d-flex flex-column">
                <h3 classe="primary-font">{{opinion.user.name}}</h3>
                <p>{{opinion.stars}}</p>
                <p>{{opinion.content}}</p>
                <a href="{{ path('opinions_index') }}" class="btn button align-self-end">Voir plus</a>
            </div>
        {% endfor %}
        
            
           
        </div>
       
           
        </div>
    </div>
    
    
{% endblock %}
