{% extends 'base.html.twig' %}
{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Greatness</th>
                <td>{{ product.greatness }}</td>
            </tr>
            <tr>
                <th>Pot</th>
                <td>{{ product.pot }}</td>
            </tr>
            <tr>
                <th>Toxicity</th>
                <td>{{ product.toxicity }}</td>
            </tr>
            <tr>
                <th>Familly</th>
                <td>{{ product.familly }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price | euroPrice }}</td>
            </tr>
            <tr>
                <th>Water</th>
                <td>{{ product.water }}</td>
            </tr>
            <tr>
                <th>Entretient</th>
                <td>{{ product.entretient }}</td>
            </tr>
            <tr>
                
                 <img src="{{ asset(product.pathImage) }}" alt="{{ product.name }}" >
            </tr>
        </tbody>
    </table>

    <a  class="btn button" href="{{ path('product_index') }}">back to list</a>

    <a class="btn button" href="#">Ajouter au Panier</a>
 
{% endblock %}
