<nav class="navbar navbar-expand-lg secondary-bg only-desktop">
    <div class="container-fluid d-flex justify-content-around">
            <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarText">
                <div class="nav-item">
                    <a class="nav-link primary-font me-3" aria-current="page" href="{{ path('product_customer_index')}}">Produits</a>
                </div>
                 <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                        <a class="nav-link primary-font dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Polluants
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            {% for polluting in pollutingRepository.findAll() %}
                            <li><a class="dropdown-item" href="{{path('product_polluting_show',{'id':polluting.id})}}">{{polluting.subst}}</a></li>
                            {% endfor %}
                        </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link primary-font dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Salles
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                {% for rooms in roomsRepository.findAll() %}
                                <li><a class="dropdown-item" href="{{path('product_room_show',{'id':rooms.id})}}">{{rooms.room}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nav-item">
                    <a class="nav-link primary-font" href="{{path('guide')}}">Guide</a>
                </div>
            </div>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarText">
                <div class="nav-item">
                    <a class="navbar-brand " href="{{ path('home')}}">
                        <img src="{{ asset('assets/img/logo.png')}}" alt="Logo atmosphere" >
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarText">
            {% if app.user %}
                <div class="nav-item">
                    <a class="nav-link primary-font me-3" href="{{ path('orderbuy_index')}}">Mes commandes</a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link primary-font dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Avis
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
           
                                <li><a class="dropdown-item" href="{{path('opinions_new')}}">Laisser un avis</a></li>
                                <li><a class="dropdown-item" href="{{ path('opinions_index')}}">Voir les avis clients</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if app.user.roles[0] is same as "ROLE_ADMIN" %}
                    <div class="nav-item me-3">
                        <a class="nav-link primary-font" href="{{ path('admin_home')}}"> <i class="fas fa-house-user"></i></a>
                    </div>
                {% endif %}   
                <div class="nav-item me-3">
                    <a class="nav-link primary-font" href="{{ path('app_logout')}}"> <i class="fas fa-door-open"></i> </a>
                </div>
                {% else %}
                <div class="nav-item">
                    <a class="nav-link primary-font" href="{{ path('app_login')}}">Se connecter</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link primary-font" href="{{ path('app_register')}}">Créer Un compte</a>
                </div>
                {% endif %}
                <div class="nav-item me-3">
                    <a class="nav-link primary-font" href="{{ path('cart_detail') }}"><i class="fas fa-shopping-bag "></i> </a>
                </div>
            </div>
    </div>
</nav>
