{% extends 'base.html.twig' %}

{% block title %}Orderbuy index{% endblock %}

{% block body %}
    <h1>Orderbuy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>TotalTTC</th>
                <th>Status</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderbuy in orderbuys %}
            <tr>
                <td>{{ orderbuy.id }}</td>
                <td>{{ orderbuy.total }}</td>
                <td>{{ orderbuy.totalTTC }}</td>
                <td>{{ orderbuy.status }}</td>
                <td>{{ orderbuy.date ? orderbuy.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('orderbuy_show', {'id': orderbuy.id}) }}">show</a>
                    <a href="{{ path('orderbuy_edit', {'id': orderbuy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orderbuy_new') }}">Create new</a>
{% endblock %}
