{% extends 'admin_home/base_admin.html.twig' %}

{% block title %}Orderbuy index{% endblock %}

{% block body %}
    <h1>Orderbuy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>TotalTTC</th>
                <th>Status</th>
                <th>Date</th>
                
            </tr>
        </thead>
        <tbody>
       
            <tr>
                <td>{{ orderbuy.id }}</td>
                <td>{{ orderbuy.total }}</td>
                <td>{{ orderbuy.totalTTC }}</td>
                <td>{{ orderbuy.status }}</td>
                <td>{{ orderbuy.date ? orderbuy.date|date('Y-m-d') : '' }}</td>
               
            </tr>
        
        </tbody>
    </table>
   
  

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantity</th>
                <th>PriceTotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orderdetail in orderdetails %}
            <tr>
                <td>{{  orderdetail.product.name }}</td>
                <td>{{ orderdetail.quantity }}</td>
                <td>{{ orderdetail.priceTotal }}</td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  

{% endblock %}
