{% extends 'base.html.twig' %}

{% block title %}Commande en cours{% endblock %}

{% block body %}
    <h1 class="text-center">Commande en cours</h1>

<div class="d-flex">
    <table class="table">
    <div>
        <tbody>
        
             {% for item in detailCart %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="d-flex flex-column align-items-center justify-content-center">
                                                        <p>{{ item.product.name }}</p>
                                                        <a class="btn btn-link text-danger btn-sm" href="{{ path('remove_item_cart',{'id': item.product.id }) }}"><i class="fas fa-trash"></i> Supprimer</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{ item.product.price | euroPrice }}</td>
                                            <td>
                                                <a class="btn btn-dark" href="{{ path('decrement_product_cart',{'id': item.product.id}) }}"><i class="fas fa-minus-circle"></i></a>
                                                <button class="btn btn-light">{{ item.qty }}</button>
                                                <a class="btn btn-dark" href="{{ path('add_product',{'id': item.product.id}) }}?returnToCart=true"><i class="fas fa-plus-circle"></i></a>
                                            </td>
                                            <td>{{ item.total | euroPrice }}</td>
                                        </tr>
                                    {% endfor%}
        </div>
        <div class="d-flex flex-column col-sm-12 col-md-6">
           {% if app.user %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Adresse de livraison</h3>
                     </div>
                 
                    <div class="card-body">
                      {{ include('adress/_form.html.twig') }}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        <h3 class="text-center">Paiement en ligne</h3>
                    </div>
                    <div class="card-body">
                        {% if app.user.adress is not same as null %}
                            <form action="{{ path('create_checkout_session') }}" method="POST">
                                <button type="submit" id="checkout-button" class="btn button w-100">Paiement sur stripe</button>
                            </form>
                        {% else %}
                            <p>Veuillez configurer votre adresse pour pouvoir finaliser la commande.</p>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Veuillez vous connecter</h3>
                    </div>
                    <div class="card-body">
                        <p>Déjà un compte ? <a href="{{ path('app_login' )}}" class="btn button">Veuillez vous connecter</a></p>
                        <hr>
                        <p>Pas encore de compte ? <a href="{{ path('app_register' )}}" class="btn btn-link button">Veuillez en créer un</a></p>
                    </div>
                </div>
            {% endif %}
        </div>
        </tbody>
    </table>
  </div>  
</div>
   
    
{% endblock %}
