{% extends 'base.html.twig' %}

{% block title %}Validation commande{% endblock %}

{% block body %}
    <h1 class="text-center">Validation commande</h1>

<div class="d-flex justify-content-center">            
    <div class="d-flex flex-column col-sm-12 col-md-6">
           {% if app.user %}
               
                    <div class="cart">
                        <h3 class="text-center">Adresse de livraison</h3>
                    
                 
                    <div >
                      {{ include('adress/_form.html.twig') }}
                    </div>
                </div>

                <div class="cart">
                  
                        <h3 class="text-center">Paiement en ligne</h3>
                
                    <div>
                     <div class="form-group">
                        <input class="form-check-input" type="checkbox"  name="cgv">
                        <label class="form-check-label" for="cgv"> <a href="{{path('cgv')}}">CGV</a></label>
                    </div> 
                       
                    </div>
                    
                        {% if app.user.adress is not same as null %}
                            <form action="{{ path('create_checkout_session') }}" method="POST">
                                <button type="submit" id="checkout-button" class="btn button w-100">Paiement sur stripe</button>
                            </form>
                        {% else %}
                            <p>Veuillez configurer votre adresse pour pouvoir finaliser la commande.</p>
                        {% endif %}
                
                </div>

            {% else %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Veuillez vous connecter</h3>
                    </div>
                    <div class="card-body">
                        <p>Déjà un compte ? <a href="{{ path('app_login' )}}" class="btn button">Veuillez vous connecter</a></p>
                        <hr>
                        <p>Pas encore de compte ? <a href="{{ path('app_register' )}}" class="btn btn-link button">Veuillez en créer un</a></p>
                    </div>
                </div>
            {% endif %}
        </div>
        </tbody>
    </table>
  </div>  
</div>
   
    
{% endblock %}
